body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
header {
    background-color: #2F4F4F; /* Dark Slate Gray */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
main {
    background-color: #778899; /* Light Slate Gray */
    padding: 20px;
    margin-top: 10px;
}
footer {
    background-color: #708090; /* Slate Gray */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}